.page-layout {
    display: flex;
}

.column {
    box-sizing: border-box;
    flex-basis: auto;
    flex-direction: row;
    width: 33.333333%;
    float: left;
}

.page-layout::after {
    display: block;
    content: '';
    clear: both;
}