/**
.gallery .arrow {
    padding: 0 20px;
    height: 100%;
    line-height: 200px;
}

.gallery .arrow:first-of-type{
float: left;
}
.gallery .arrow:last-of-type{
    float: right;
}

.gallery .arrow::after {
    display: block;
    content: '';
    clear: both;
}

.gallery .gallery-row {
    overflow-x: hidden;
}

.gallery ul {
    display: block;
    width: 100000px;
}

.gallery li {
    float: left;
}

.gallery ul::after {
    display: block;
    content: '';
    clear: both;
}
*/

.gallery .arrows {
    display: flex;
    justify-content: space-between;
}
.gallery .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
   flex: 0 0 50px;
}

.gallery ul {
    display: flex;
    overflow-x: hidden;
}